
<div
  class="connect-four-container"
  [class.current-player1]="(currentPlayer$ | async) === 'player1'"
  [class.current-player2]="(currentPlayer$ | async) === 'player2'"
  [class.is-draw]="(winner$ | async) === 'draw'"
  [class.is-finished]="(isFinished$ | async)"
>
  <div class="message">
    <div
      class="player-turn-message"
      *ngIf="!(isFinished$ | async)"
    >
      {{ 'translate.connectFour.playerTurn' | translate: { player: (currentPlayer$ | async) } }}
    </div>
    <div class="win-message" *ngIf="(isFinished$ | async)">
      <span *ngIf="(winner$ | async) !== 'draw'">
        {{ 'translate.connectFour.playerWins' | translate: { player: (winner$ | async) } }}
      </span>
      <span *ngIf="(winner$ | async) === 'draw'">
        {{ 'translate.connectFour.draw' | translate }}
      </span>
    </div>
  </div>

  <div class="connect-four-grid">
    <div
      class="connect-four-row"
      *ngFor="let rowCells of (cells$ | async); trackBy: trackByRow"
    >
      <div
        class="connect-four-cell"
        *ngFor="let cell of rowCells; trackBy: trackByCell"
        [class.cell--state--empty]="cell.state === null"
        [class.cell--state--player1]="cell.state === 'player1'"
        [class.cell--state--player2]="cell.state === 'player2'"
        (click)="onClickCell(cell)"
      >
        <div class="grid-overlay"></div>
      </div>
    </div>
  </div>
</div>

<div class="buttons-container">
  <button
    mat-raised-button
    color="primary"
    (click)="onClickResetGame()"
  > {{ 'translate.connectFour.newGame' | translate }}</button>
</div>


