@import '../../../scss/variables/variables';

:host {
  display: block;

  & > .connect-four-container {
    & > .message {
      & > .player-turn-message,
      & > .win-message {
        font-size: 28px;
        text-align: center;
        padding: 25px 0;
        line-height: 32px;
      }

      & > .win-message {
        color: $color-gray-2;
      }
    }

    & > .connect-four-grid {
      width: min(90vw, 85vh);
      margin: 0 auto;
      overflow: hidden;
      // info: resets angular material defaults
      font-size: 0;
      line-height: 0;
      z-index: 1;

      & > .connect-four-row {
        & > .connect-four-cell {
          $grid-size: (1 / $grid-columns * 100%);

          display: inline-block; // let's go with display: inline-block instead of display grid or flex for better IE support
          position: relative;
          width: $grid-size;
          padding-bottom: $grid-size;

          &::before,
          &::after {
            content: '';
            display: block;
            position: absolute;

            top: 50%;
            left: 50%;
            width: $connect-four-grid-coin-size;
            height: $connect-four-grid-coin-size;
            margin-top: -($connect-four-grid-coin-size / 2);
            margin-left: -($connect-four-grid-coin-size / 2);
            border-radius: 50%;
          }

          &::before { // coin
            transform: translateY(-1000px);
            transition: transform 500ms;
          }

          &::after { // empty coin placeholder
            opacity: 0;
            transition: opacity 250ms;
            //background-color: $connect-four-coin-empty-color;
          }

          & > .grid-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 2;

            &::before {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              width: $connect-four-grid-hole-size;
              height: $connect-four-grid-hole-size;
              margin-top: -($connect-four-grid-hole-size / 2);
              margin-left: -($connect-four-grid-hole-size / 2);
              border-radius: 50%;
              box-shadow: 0 0 0 1000px $connect-four-grid-color;
            }
          }

          &.cell--state--player1,
          &.cell--state--player2 {
            &::before { // coin
              transform: translateY(0);
            }
          }

          &.cell--state--player1 {
            &::before { // coin
              background-color: $connect-four-coin-player1-color;
            }
          }

          &.cell--state--player2 {
            &::before { // coin
              background-color: $connect-four-coin-player2-color;
            }
          }

          &.cell--state--empty {
            cursor: pointer;

            &:hover {
              &::after { // empty coin
                opacity: 0.3;
              }
            }
          }
        }
      }
    }

    &:not(.is-finished) {
      &.current-player1 {
        & > .message {
          & > .player-turn-message {
            color: $connect-four-coin-player1-color;
          }
        }

        & > .connect-four-grid {
          & > .connect-four-row {
            & > .connect-four-cell {
              &.cell--state--empty {
                &:hover {
                  &::after { // empty coin
                    background-color: $connect-four-coin-player1-color;
                  }
                }
              }
            }
          }
        }
      }

      &.current-player2 {
        & > .message {
          & > .player-turn-message {
            color: $connect-four-coin-player2-color;
          }
        }

        & > .connect-four-grid {
          & > .connect-four-row {
            & > .connect-four-cell {
              &.cell--state--empty {
                &:hover {
                  &::after { // empty coin
                    background-color: $connect-four-coin-player2-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  & > .buttons-container {
    text-align: center;
    padding: 25px 0;
  }
}
